section {
    width: 100%;
    padding: 10px;
    min-height: calc(100vh - 80px);
}

.feedback-container {
    max-width: 550px;
    margin: 25px auto;
    padding: 35px 10px;
    box-shadow: 0 0 15px -10px #2d3748;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-container h1 {
    font-size: 34px;
    color: #2a4365;
}

.feedback-container p {
    color: #718096;
    font-size: 15px;
    margin-top: 9px;
}

.feedback-form {
    margin-top: 45px;
    width: 100%;
    padding: 10px 50px;
}

.feedback-input input,
.feedback-input textarea {
    width: 100%;
    padding: 11px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 9px;
    font-size: 14px;
}

.feedback-input label {
    font-weight: 600;
    font-size: 15px;
}

.feedback-input textarea {
    resize: vertical;
    height: 100px;
}

.feedback-input input:focus,
.feedback-input textarea:focus {
    border: 2px solid rgba(66, 153, 225, 0.6);
}

.feedback-input input::placeholder,
.feedback-input textarea::placeholder {
    color: #8694a8;
    letter-spacing: .5px;
    font-size: 14px;
}

.feedback-submit-btn {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1a365d;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s;
}

.feedback-submit-btn:hover {
    background-color: #97a1b1;
}
