.Info{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.Info img {
    width : "200px";
    margin-top: 20px;
    background-color: chocolate;
    border-radius: 50px;
    border: 1px;
    border-color: black;
}